:root{
	--main-bg: #000;
	--main-txt-color: #fff;
	--main-heading-font: 2rem;
	--main-font-family: 'Inter', sans-serif;
	--primary-color-purple: #c1a9e7
}

body * {
	box-sizing: border-box;
	/* border-radius: 10px; */
}

body {
	background-color: var(--main-bg);
	color: var(--main-txt-color);
	margin: 0;
	height: 100vh;
	font-family: var(--main-font-family);
}

h1 {
	font-size: var(--main-heading-font);
}

.page-title h1 {
	text-align: center;
}

h2 {
	width: 150px;
	border-bottom: 1px solid #aaffcc;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--main-txt-color);
}

nav {
	/* border: 1px solid red; */
	display: flex;
	flex-wrap: wrap;
	height: 10%;
	justify-content: flex-end;
	align-content: center;
	padding: 0 50px 0;
}

.nav-content {
	display: flex;
	justify-content: space-around;
	width: 10%;
}

.nav-title {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.nav-logo img{
	width: 30px
}

main {
	height: 90%;
}

.container {
	/* border: 1px solid white; */
	display: grid;
	grid-template-columns: 30% 70%;
	height: 100%;
	width: 80%;
	margin: 0 auto;
}

.link-btn a {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.club {
    border: 1px solid;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
	.container {
		grid-template-columns: 100%;
	}
}