
.nav-content {
    width: 40%;
}
.container {
    height: unset;
    gap: 50px;
}

.club-left, .club-right {
    padding: 20px;
}

.members-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: 100px; */
    aspect-ratio: 1 / 1;
    gap: 15px
}

.member-activities {
    /* margin-top: 150px; */
}
.club-members {
    /* grid-row: span 2; */
    /* border: 1px solid; */
}

#a {
    background-image: url("https://cdn.intra.42.fr/users/f201b4e3792349d5b8f230ac93d0db2e/rdragan.jpg");
    background-size: cover;
    background-position: center;
    
}

#b {
    background-image: url("https://cdn.intra.42.fr/users/84ced87c64d294a73b71fca362a48c5b/ezpiro-m.jpg");
    background-size: cover;
    background-position: center;
}

#c {
    background-image: url("https://cdn.intra.42.fr/users/93632f7cc3903b8c7598048d16c7cc03/frmessin.jpg");
    background-size: cover;
    background-position: center;
}

#d {
    background-image: url("https://cdn.intra.42.fr/users/c53f263449251d0dc18ebe74d55731b2/mokoucha.jpeg");
    background-size: cover;
    background-position: center;
}

#e {
    background-image: url("https://cdn.intra.42.fr/users/54883b6d106cb2898d653a15459a2431/bogunlan.jpg");
    background-size: cover;
    background-position: center;
}

#f {
    background-image: url("https://cdn.intra.42.fr/users/bf244121156d7a2bf2cf1e4d3c0cbec9/rkanmado.jpg");
    background-size: cover;
    background-position: center;
}

.club-members img
{
    width: 100%;
}

.members-intra {

}

.member-img {
    filter: grayscale(100%);
    cursor: pointer;
}

.member-img:hover {
    filter: grayscale(0);
}

.club-title {
    grid-column: span 2;
}
.club-right {

}

.club-logo-img {
    border: 1px solid;
    height:400px;
    background-image: url(../../assets/images/img/app_dev_club_bw.png);
    background-size: cover;
    /* margin-bottom: 100px; */
    background-position: center;
    cursor: pointer;
}

.club-logo-img:hover {
    background-image: url(../../assets/images/img/app_dev_club_color.png);
}
.member-img {
    /* background-color: red; */
    height: 100%;
}

ol li {
    border-bottom: 1px solid;
    margin-bottom: 20px;
    padding: 15px 0;
}

.activity span{
    display: inline-block;
    background-color: var(--primary-color-purple);
    padding: 5px;
    margin-top: 10px;
    border-radius: 3px;
}

@media screen and (max-width: 720px) {
    .container  {
        /* display: block; */
    }

    .members-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .club-members {
        grid-row: span 2;
    }

    .club-left {
        order: 2;
    }

    .club-right {
    }
}